<!DOCTYPE html>
<html>
  <head>
    <title>Visits to the Hacker Lab</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="main.css">
    <link rel="stylesheet" type="text/css" href="normalize.css">
    <link href='//fonts.googleapis.com/css?family=Syncopate' rel='stylesheet' type='text/css'>

  </head>
  <body id="body-visits">
    <div>
      <h1>Visits to the Hacker Lab</h1>
      <div id="forms-visits">
      <% people.each do |person| %>
        <p>
          <%= person.email + " " + person.first + " " + person.school + " " + person.visits.length.to_s %>
          <p>
            <% person.visits.each do |visit| %>
              <% if visit.shown == 1 %>
                <p><%= visit.comments %></p> 
                <form id="visit-form" method="POST" action=<%= "/deletevisit/" + visit.id.to_s %>>
                  <button type="submit">Hide visit</button>
                </form>
              <% end %>
            <% end %>
          </p>
        </p>
      <% end %>
      </div>
    </div>
  </body>
</html>



