body {  height:100%;
  width:100%;
  background-image: url("colorful-triangles-background.jpg");
  /*background-size: 100% 120%;*/

  background-color: #f5f6f7;
  color: rgb(32, 32, 32);
}
h1 {
  margin-top: 50px;
  text-align: center;
  color: #39454b;
  width: 100%;
  font-size: 50px;
}

#forms {
  margin: 20px auto;
  width: 70%;
  height: 100%;
  background-color: white;
}

#first-name {
  height: 50px;
  width: 520px;
  margin-left: 60px;
  margin-top:60px;
  /*margin-right: 20px;*/
  border: solid 2px rgba(185,186,187,0.25);
  border-radius: 0.5em;
}

#school-name {
  height: 50px;
  width: 520px;
  margin-left: 60px;
  margin-top:60px;
  /*margin-right: 20px;*/
  border: solid 2px rgba(185,186,187,0.25);
  border-radius: 0.5em;
}

#email-name {
  height: 50px;
  width: 90%;
  border: solid 2px rgba(185,186,187,0.25);
  border-radius: 0.5em;
  margin-top: 30px;
  margin-left: 60px;
}
#message-body {
  height: 250px;
  width: 90%;
  border: solid 2px rgba(185,186,187,0.25);
  border-radius: 0.5em;
  margin-top: 30px;
  margin-left: 60px;
}
#visit-button{
  background: #e7746f;
  color: #fff;
  border-radius: 4px;
  padding: 0.4em 0.4em;
  text-decoration: none;
  font-weight: 600;
  font-size: 2.0em;
  margin: 1.25em 0 0.5em 0;
  border: 0;
}


/*#page {*/
/*  margin: 20px auto;*/
  /*width: 400px;*/
/*}*/

/*#message-form {*/
/*  border-bottom: 1px solid black;*/
/*  padding-bottom: 20px;*/
/*}*/

/*#message-form button[type="submit"] {*/
/*  margin-top: 10px;*/
/*}*/

/*#message-form #message-body {*/
/*  height: 100px;*/
/*  width: 100%;*/
/*}*/

/*.message-list .message-timestamp {*/
/*  font-size: 12px;*/
/*  font-style: italic;*/
/*  margin-bottom: 10px;*/
/*  margin-top: 10px;*/
/*  text-align: right;*/
/*}*/

